@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    box-sizing: border-box;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
    padding-top: 30px;
}
 .button button {
    background-color: white;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}
.button button:hover{
    border: 1px solid lightpink;
}

.section1 h1{
    color:  hsl(192, 100%, 9%);
    font-family: poppins;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 0 210px;
}
.section1 {
    padding-top: 60px ;
    margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.section1 p {
        color:  hsl(192, 100%, 9%);
        font-size: 1rem;
        font-family: open sans;
        text-align: center;
        padding: 0 500px;
}
.section1 .button1 {
   display: flex;
   justify-content: center;
   align-items: center;
}
.section1 button {
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    color: white;
    font-family: open sans;
    border-radius: 20px;
    padding: 10px 50px;
    cursor: pointer;
    margin: o auto;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.section1 button:hover{
    background-color: lightpink;
    border: 1px solid lightpink;
} 

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.section2 img{
    width: 67%;
}

.section3 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.section3 h1 {
    font-family: poppins;
    font-weight: bolder ;
    font-size: 2rem;
}
.section3 p {
    font-family: open sans;
    font-weight: 300 ;
    font-size: 1rem;
}
.main1 {
    display: flex;
    flex-direction: row-reverse;
justify-content: center;
align-items: center;

/* background-image: url(./images/bg-section-top-desktop-1.svg);
/* background-repeat: no-repeat;
background-size: auto;
background-position: center;
background-position-x: center; */ 
}

.img img {
    width: 80%;
    padding-right: 70px;
}

.submain1 h1 {
    color:  hsl(192, 100%, 9%);
    font-family: poppins;
    font-weight: 700;
    font-size: 2rem;
}
.submain1 {
    padding: 0px 150px;
    
}
.submain1 p {
    color:  hsl(192, 100%, 9%);
    font-size: 1rem;
    font-family: open sans;
    
}
.main2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;

}

.img1 img {
    width: 70%;
    padding-left: 150px;
}
.submain2 h1 {
    color:  hsl(192, 100%, 9%);
    font-family: poppins;
    font-weight: 700;
    font-size: 2rem;
}
.submain2{ 
    padding-top: 80px;
    padding-left: 170px;
    padding-right: 220px;

}

.submain2 p {
    color:  hsl(192, 100%, 9%);
    font-size: 1rem;
    font-family: open sans;
}
.main3 {
    display: flex;
    flex-direction: row-reverse;
}

.main3  {
    padding-top: 70px;
    /* background-image: url(./images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat;
background-position: center;
background-size: cover; */

}
.main3 .submain1 {
    padding-top: 60px;
}
.closefooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 10px;
}
.closefooter h1 {
    color:  hsl(192, 100%, 9%);
    font-family: poppins;
    font-weight: 700;
    font-size: 2rem;
}
.closefooter button {
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    color: white;
    font-family: open sans;
    border-radius: 20px;
    padding: 10px 50px;
    cursor: pointer;
    margin: o auto;
    text-align: center;
    display: flex;
    justify-content: center; 
    padding: calc(200px, 3.5vw, 10rem);  
}
.closefooter button:hover{
    background-color: lightpink;
    border: 1px solid lightpink;
} 
footer svg {
    color: white;

}
footer {
    background-color: hsl(192, 100%, 9%);
}
.insfoot1 {
    display: flex;
    flex-direction: row;

    
}
.insfoot1 img {
    padding-top: 30px;
    height: 100%;
}   
.insfoot1 h1{
    color: white;
    font-weight: bold;
    font-family: poppins;
    width: 250px;
    
}
.foot1 p {
    color: white;
    font-family: open sans;
font-size: 0.8rem;
width: 350px;

}
.phone {
    display: flex;
    flex-direction: row;
}
.phone img {
        padding-top: 18px;
        height: 100%;
        padding-right: 20px;   
}
.email {
    display: flex;
    flex-direction: row;
}
.email img {
        padding-top: 18px;
        padding-right: 20px;
        height: 100%;
    
}

.foot2 h1 {
    color: white;
    font-family: poppins;
    width: 250px;
}
.foot2  p {
    color: white;
    font-family: open sans;
    padding-top: 12px;  
    font-size: 0.8rem;
    padding-right: 20PX ;
width: 350px;
}
.insidefooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 3.125rem 9.375rem;
}
.btngroup {
    padding-top: 30px;
}
form input[type=text] {
    padding: 5px;
    width: 200px;
    border: 2px solid white;
    border-radius: 2px;

}
form button {
    background-color:  hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 2px;
  font-family: open sans;
  
    color: white;
padding: 5px;
padding: 5px 30px;
    cursor: pointer;
margin-left: 20px;
}
form button:hover{
    border: 1px solid lightpink;
    background-color: lightpink;
}
.socialmedia {
    padding-top: 2rem;
    padding:  0rem 9.375rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    
}
.socialmedia img {
    padding-right: 10PX;
}



@media  screen and  (max-width: 1250px) {
   
.section1 h1{
    color:  hsl(192, 100%, 9%);
    font-family: poppins;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 0 150px;
}
.section1 {
    padding-top: 60px ;
    margin: 0 auto;
   
}
.section1 p {
        color:  hsl(192, 100%, 9%);
        font-size: 1rem;
        font-family: open sans;
        text-align: center;
        padding: 0 300px;
}
.section1 button {
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    color: white;
    font-family: open sans;
    border-radius: 20px;
 
padding: 10px 40px;
    cursor: pointer;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.section1 .button1 {
display: flex;
justify-content: center;
align-items: center;
}
.submain2{
    padding-top: 0px;
    padding-left: 170px;
    padding-right: 80px;

}

}
@media  screen and  (max-width: 950px) {
     .insidefooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3.125rem 9.375rem;
} 
}
@media  screen and  (max-width: 900px) {
   
.section1 h1{
    color:  hsl(192, 100%, 9%);
    font-family: poppins;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 0 100px;
}
.section1 {
    padding-top: 60px ;
    margin: 0 auto;
   
}
.section1 p {
        color:  hsl(192, 100%, 9%);
        font-size: 1rem;
        font-family: open sans;
        text-align: center;
        padding: 0 200px;
}
.img1 img {
    width: 80%;
    padding-left: 0px;
}
.main3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img img {
    padding: 0;
    width: 50%;
    margin: 0 auto;
}
.img1 img {
    width: 50%;
    margin: 0 auto;
    padding: 0;
}
}
@media  screen and  (max-width: 700px) {
    .section1 h1{
        padding: 0 50px;
    }
  
    .section1 p {
            padding: 0 100px;
    } 

}
@media  screen and  (max-width: 600px) {
    .section1 h1{
        padding: 0 10px;
    }
  
    .section1 p {
            padding: 0 50px;
    } 
    .submain1 {
        padding: 0px 50px; 
    }
    .submain2 {
        padding: 0px 50px;
    }
    .btngroup form {
        display: flex;
        flex-direction: column;
    }
    form button {
        background-color:  hsl(322, 100%, 66%);
        border: 1px solid hsl(322, 100%, 66%);
        border-radius: 2px;
      font-family: open sans;
      
        color: white;
 
    padding: 5px 0px;
        cursor: pointer;
    margin-left: 0px;
    }
    .insfoot1 h1{
        color: white;
        font-weight: bold;
        font-family: poppins;
        width: auto;
        
    }
    .foot1 p {
    width: auto;
    
    }
    .foot2 h1 {
        color: white;
        font-family: poppins;
        width: auto;
    }
    .foot2  p {
        color: white;
        font-family: open sans;
        padding-top: 12px;  
        font-size: 0.8rem;
        padding-right: 20PX ;
    width: auto;
    }
    .insidefooter {
        padding: 3.125rem 6.375rem;
    }
    form input[type=text] {
        width: 99%;
        padding: 10px 0px;
    }
    form button {
        margin: 0px;
        width: 50%;
        margin-top: 10px;
        margin-left: 50%;
        padding: 10px 0px;
    }
    .socialmedia {
        padding-top: 2rem;
        padding:  0rem 6.375rem;   
    }
}
@media  screen and (max-width: 500px) {
 
    .socialmedia {
        padding-top: 2rem;
        padding:  0rem 50px;
        padding-bottom: 1rem;   
    }
    .insidefooter {
        padding: 3.125rem 50px;
    }
    .closefooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 10px;
    }
    .closefooter h1 {
        color:  hsl(192, 100%, 9%);
        font-family: poppins;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        padding: 0px 10px;
    }
    .section1 h1{
        font-size: 2rem;
    }
}
@media  screen and (max-width: 415px) {
    .img img {
        width: 80%; 
    }
    .img1 img {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .section1 h1{
        font-size: 2rem;
    }
     
    .section1 p {
        padding: 0 20px;
        font-size: 0.9rem;
} 
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;
        padding-top: 30px;
    }
    .submain2 {
        padding: 0px 10px;
    }
    .submain1 {
        padding: 0px 10px;
    }
    .socialmedia {
        padding: 0px 15px;
        padding-bottom: 20px;
    }
    .insidefooter {
        padding-left: 15px;
        padding-right: 15px;
    }
}
  
/* media queries 1200
media queries 900
media queries600
media queries 400
300
280 */